.App {
  text-align: center;
  background-color: #263238;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.modal {
  background-color: white;
  color: black;
}

#countryDialog .MuiPaper-root{
  background-color: #467EAC;
}

#countryDialog input{
  background-color: #e8eaf6;
  border-radius: 5px;
}

.countryHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countryHeader *{
  display: inline-block;
}

.medalContainer{
  padding-top: 5px;
  margin: 0 5px;
}

.unsaved {
  background-color: #bf6392;
  border-radius: 5px;
}

.unsaved * {
  font-style: italic;
}

.countryHeader .endIcon{
  position: absolute;
  left: 90%;
  cursor: pointer;
}

.countryHeader .icon{
  position: absolute;
  left: 80%;
  cursor: pointer;
}

@media screen and (max-width: 900px){
  .countryHeader .endIcon{
    left: 85%;
  }

  .countryHeader .icon{
    left: 75%;
  }
}

@media screen and (min-width: 1536px){
  .countryHeader .endIcon{
    left: 93%;
  }
}

.loginLink, .logout, .logoutlink {
  color: #fff;
}



div.loginForm {
  border: ridge 3px #880e4f;
  border-radius: 5px;
  background-color: #9F3E72;
  padding: 8px;
  position: absolute;
  width: 350px;
  height: 250px;
  left: 0;
}

div.loginForm label{
  color: white;
}