.App {
  text-align: center;
  background-color: #263238;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.modal {
  background-color: white;
  color: black;
}

#countryDialog .MuiPaper-root{
  background-color: #c5cae9;
}

#countryDialog input{
  background-color: #e8eaf6;
  border-radius: 5px;
}